

<div class="container">
    <h3 class="text-center my-5 items_title"></h3>
      <a href="#" routerLink="/createfeed" class="btn btn-success">Give feedback</a>
      <br>
      <br>
  <!-- <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">feedId</th>
        <th scope="col">Text</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let User of User">
            <td>{{User.feedId}}</td>
            <td>{{User.text}}</td>
            <td>{{User.rating}}</td>

        
        <td>
         
        </td>
      </tr> 
       
    </tbody>
  </table> -->
  </div>
  