<div class="container">
    <h1>View User</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>busId:</strong>
        <p>{{ post.busId }}</p>
    </div>
   
    <div>
        <strong>busName:</strong>
        <p>{{ post.busName }}</p>
    </div>
   
    <div>
        <strong>source:</strong>
        <p>{{ post.source }}</p>
    </div>

    <div>
        <strong>destination:</strong>
        <p>{{ post.destination }}</p>
    </div>

    <div>
        <strong>departureDate:</strong>
        <p>{{ post.departureDate}}</p>
    </div>

    <div>
        <strong>departureTime:</strong>
        <p>{{ post.departureTime }}</p>
    </div>
   
    <div>
        <strong>charges:</strong>
        <p>{{ post.charges}}</p>
    </div>

</div>