
<div class="ticket-details">
    <h2>Ticket Details</h2>
    <p><strong>Source:</strong> {{ source }}</p>
    <p><strong>Destination:</strong> {{ destination }}</p>
    <p><strong>Departure Date:</strong> {{ departureDate }}</p>
    <p><strong>Departure Time:</strong> {{ departureTime }}</p>
    <!-- <p><strong>BusName:</strong> {{ BusName }}</p> -->
    <p><strong>Charges:</strong> {{ charges }}</p>
   
    <div class="booking-message">
        <p>Your ticket is successfully booked. Thank you for choosing ridetohome.com! your seat number will tell when you check in...</p>
      </div>
     
  </div>
  