/* .row

{
    border-spacing:0 15px;
    border-collapse:separate;
    border-spacing:0 90px;
}
.row {
    margin-bottom: 20px; 
  }

  
  .w3-padding-64 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .dark-mode body {
    background-color: #333;
    color: #fff;
  } */
  .dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #333;
    color: white;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  