<!-- 


<div class="jumbotron">
<div class="container">
    <div class="row mb-3">
        <div class="col">
    <div class="card" style="width: 20rem; height: 20rem;">
     
        <a routerLink="/post" class="post_link">
            <div class="card-body">
                <img src="../assets/img/crud.png" width="400" height="300" class="admin_dashboard_img" alt="">
                <h5 class="text-center my-3">Add Bus</h5>
                <p class="text-muted text-center">Here you can add,delete,edit,view the busdetails</p>
            </div>
            </a>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <a routerLink="/regbuses" class="regbuses_link">
            <div class="card-body">
                <img src="../assets/img/re.png" width="400" height="300" class="customer_dashboard_img" alt="">
                <h5 class="text-center my-3">Registered Users</h5>
                <p class="text-muted text-center">Here you can Book Your Bus</p>
            </div>
            </a>
      </div>
    </div>

    

    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <a routerLink="/viewbookings" class="viewbookings_link">
            <div class="card-body">
                <img src="../assets/img/b.png" width="400" height="300" class="customer_dashboard_img" alt="">
                <h5 class="text-center my-3">bookings</h5>
                <p class="text-muted text-center">Here you can Bookings of the users</p>
            </div>
            </a>
      </div>
    </div>
</div>
<div class="row mb-3">
  <div class="col">
<div class="card" style="width: 20rem; height: 20rem;">

  <a routerLink="/post" class="post_link">
      <div class="card-body">
          <img src="../assets/img/crud.png" width="400" height="300" class="admin_dashboard_img" alt="">
          <h5 class="text-center my-3">Add Bus</h5>
          <p class="text-muted text-center">Here you can add,delete,edit,view the busdetails</p>
      </div>
      </a>
</div>
</div>

<div class="col">
<div class="card" style="width: 20rem;height: 20rem;">
  <a routerLink="/regbuses" class="regbuses_link">
      <div class="card-body">
          <img src="../assets/img/re.png" width="400" height="300" class="customer_dashboard_img" alt="">
          <h5 class="text-center my-3">Registered Users</h5>
          <p class="text-muted text-center">Here you can Book Your Bus</p>
      </div>
      </a>
</div>
</div>



<div class="col">
<div class="card" style="width: 20rem;height: 20rem;">
  <a routerLink="/viewbookings" class="viewbookings_link">
      <div class="card-body">
          <img src="../assets/img/b.png" width="400" height="300" class="customer_dashboard_img" alt="">
          <h5 class="text-center my-3">bookings</h5>
          <p class="text-muted text-center">Here you can Bookings of the users</p>
      </div>
      </a>
</div>
</div>
</div>
</div> -->



<header class="bg-surface-primary border-bottom pt-6">
  <div class="container-fluid">
      <div class="mb-npx">
          <div class="row align-items-center">
              <!-- Navigation Options -->
              <div class="col-12 text-center">
                  <ul class="nav nav-tabs mt-4 overflow-x border-0">
                      <li class="nav-item"><a href="/post" class="nav-link">Add Bus</a></li>
                      <li class="nav-item"><a href="/regbuses" class="nav-link">Users</a></li>
                      <li class="nav-item"><a href="/viewbookings" class="nav-link">Bookings</a></li>
                       <li class="nav-item"><a href="/refund" class="nav-link">RefundReq</a></li>
                       <li class="nav-item"><a href="/showfeed" class="nav-link">feedback Info</a></li>
                      <li class="nav-item"><a href="/Admin" class="nav-link">Logout</a></li>
                      <!-- <li class="nav-item"><a href="/feedback" class="nav-link">Information</a></li>   -->
                  </ul>
              </div>
          </div>
      </div>
  </div>
</header>

<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>

 



  <div class="w3-content" style="max-width:1100px">
    <!-- About Section -->
   

    <hr>

    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
           <h4>Add Bus Details</h4>
          <p class="w3-text-grey">You can see add bus details</p>
            <br>
            <h4>Registerd Users</h4>
            <p class="w3-text-grey">You can see news journals about us</p>
            <br>
            <h4>Bookings</h4>
            <p class="w3-text-grey">You can get information about us</p>
        </div>
        <div class="w3-col l6 w3-padding-large">
            <img src="https://media.istockphoto.com/id/170010868/photo/crowded-bus.jpg?s=612x612&w=0&k=20&c=mdQtdd3I6W-0Wkv0cpLla33z9afi8m2-vH7_dUAnn2g=" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
        </div>
    </div>

    <hr>

</div>